/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 60%;
  min-height: 250px;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.665%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 60px 20px;
  height: 100%;
}

.switches {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px 0px 0px 5px;
  font-family: Arial;
  color: white;
  font-size: 15px;
}

.led {
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#ortho-proj {
  background-color: rgb(136, 13, 4);
}

#axon-proj {
  background-color: rgb(182, 87, 10);
}

#persp-proj {
  background-color: rgb(180, 165, 28);
}

#lighting {
  background-color: rgb(12, 141, 34);
}

#texture {
  background-color: rgb(17, 26, 148);
}

#objects {
  background-color: rgb(93, 9, 114);
}
