/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 50%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.switches {
  /* padding-left: 5px; */
  padding: 5px 0px 0px 5px;
  font-family: Arial;
  font-size: 15px;
}

.led {
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
}

#ortho-proj {
  background-color: rgb(4, 4, 136);
}
#axon-proj {
  background-color: rgb(84, 14, 112);
}
#persp-proj {
  background-color: rgb(5, 133, 133);
}
#objects {
  background-color: rgb(170, 5, 170);
}
